body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  top: 450px;
  left: 350px;
}

a{
  color: #11999E;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web-developer{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gamer{
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  height: 0;
  border-color: #cceabb;
  border-width: 10px;
  margin: 80px auto;
}

.middle-container{
  margin-top: 80px;
  margin-bottom: 100px;
}

.bottom-container{
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #66BFBF;
}

.liscence{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.footer-link{
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

p{
  line-height: 2;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:17px;
	padding:11px 13px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.myButton:active {
	position:relative;
	top:1px;
}
